<header class="bg-slate-50">
	<nav class="grid grid-cols-6">

		<div class="bg-slate-500/5 hidden px-4 py-4 xl:flex justify-end items-center rounded-tr-full rounded-br-full">
			<input class="bg-slate-500/5 placeholder-slate-500 px-4 py-2 w-[9rem] rounded-full border border-slate-500/55" type="search" placeholder="Search" />
			<button class="px-4 py-3 -ml-11" type="button">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search fill-muted" viewBox="0 0 16 16">
					<path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
				</svg>
			</button>
		</div>
		<div class="col-span-6 flex {% if title == 'Welcome' %}justify-around{% else %}justify-start space-x-2{% endif %} items-center px-4 py-4 xl:col-span-4 brand">
				{% for item in docs.navs.main %}
					<span class="-mb-0.5">∙</span>
					<span class="lowercase"><a href="{{ item.href }}">{{ item.title }}</a></span>
				{% endfor %}
				{% if group %}
					<span class="-mb-0.5">∙</span>
					<span class="lowercase"><a href="/@/docs/{{ group }}">{{ group }}</a></span>
				{% endif %}
				{% if title and title != group %}
					{% if title == 'Welcome' %}
						{% for item in docs.navs.accordion %}
							<span class="-mb-0.5">∙</span>
							<span class="lowercase"><a href="/@/docs/{{ item.group }}">{{ item.group | replace: '-', ' ' }}</a></span>
						{% endfor %}
					{% else %}
						<span class="-mb-0.5">∙</span>
						<span class="lowercase">{{ title }}</span>
					{% endif %}
				{% endif %}
				<span class="-mb-0.5">∙</span>
		</div>

		<div class="hidden px-4 py-4 xl:flex justify-start items-center bg-slate-500/5 rounded-tl-full rounded-bl-full">

        <a href="#" class="bg-slate-500/5 w-[2.5rem] h-[2.5rem] flex-center rounded-tl-full rounded-bl-full">
          {% render 'components/svg', icon: 'moon-stars', size: 18, class: ' fill-muted'  %}
        </a>
        <a href="#" class="bg-slate-500/5 w-[4rem] h-[2.5rem] flex-center">
          {% render 'components/svg', icon: 'paint-bucket', size: 24, class: ' fill-muted'  %}
        </a>
        <a href="#" class="bg-slate-500/5 w-[2.5rem] h-[2.5rem] flex-center rounded-tr-full rounded-br-full">
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-share fill-muted" viewBox="0 0 18 18">
						<path d="M13.5 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5zm-8.5 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm11 5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3z"/>
					</svg>
        </a>

		</div>

	</nav>
</header>