<aside class="text-right px-5 py-7 h-screen bg-slate-500/5 border-r border-slate-200">
  <nav x-data="navAside">
    {% for collapse in docs.navs.accordion %}
      <div x-data="navAsideAccordion('{{ collapse.group }}')">
        <button 
          @click="expanded = ! expanded"
          type="button" 
          class="heading-sub py-2.5"
          :class="expanded ? 'text-slate-600' : 'text-slate-800'"
        >
          {{ collapse.group | replace: '-', ' ' | capitalize }}
        </button>
        
        <ul 
          x-show="expanded"
          x-collapse 
          x-cloak
          class="space-y-2.5 py-2.5 mb-2.5"
        >
          {% for item in collapse.items %}
            <li>
              <a 
                href="{{ docs.root.path }}/{{ collapse.group }}/{{ item }}" 
                class="text-sm"
                :class="activeLink === '{{ item }}' ? 'font-semibold text-slate-700' : 'text-slate-600'"
              >
                {{ item | replace: '-', ' ' | capitalize }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endfor %}
  </nav>
</aside>
<script>
  // console.log("currentGroup: ", window.location.pathname.split('/')[3])
  // console.log("currentItem: ", window.location.pathname.split('/')[4])
  document.addEventListener('alpine:init', () => {
    Alpine.data('navAside', () => ({
      currentItem: window.location.pathname.split('/')[3],
      activeLink: window.location.pathname.split('/')[4],
    }))
    Alpine.data('navAsideAccordion', (currentHandle = '') => ({
      handle: currentHandle,
      get expanded() {
        return this.currentItem === this.handle
      },
      set expanded(value) {
        this.currentItem = value ? this.handle : null
      },
    }))
  })
</script>